Hier sind die Importe, welche die API benötigt

In [9]:
import openmeteo_requests

import requests_cache
import pandas as pd

from requests.adapters import HTTPAdapter
from requests.packages.urllib3.util.retry import Retry
from retry_requests import retry

Hier ist die Definition für die API um die Daten zu holen

In [12]:
def call_open_meteo_min(selected_station):
    # Setup the Open-Meteo API client with cache and retry on error
    cache_session = requests_cache.CachedSession(".cache", expire_after=-1)
    retry_strategy = Retry(total=5, backoff_factor=0.2)
    adapter = HTTPAdapter(max_retries=retry_strategy)
    cache_session.mount('http://', adapter)
    cache_session.mount('https://', adapter)
    openmeteo = openmeteo_requests.Client(session=cache_session)

    # Initialize an empty list to store monthly data
    monthly_data = []

    # Define the start and end dates for the loop
    start_date = pd.Timestamp("1940-01-01")
    end_date = pd.Timestamp("2024-02-29")

    # Iterate through each month
    while start_date < end_date:
        # Calculate the end of the month
        end_of_month = start_date + pd.offsets.MonthEnd(0)
        
        # Define the parameters for the API call
        params = {
            "latitude": selected_station["lat"],
            "longitude": selected_station["lon"],
            "start_date": start_date.strftime("%Y-%m-%d"),
            "end_date": end_of_month.strftime("%Y-%m-%d"),
            "daily": "wind_speed_10m_max",
            "timezone": "Europe/Berlin",
        }

        # Make the API call
        responses = openmeteo.weather_api("https://archive-api.open-meteo.com/v1/archive", params=params)

        for response in responses:
            # Process daily data. The order of variables needs to be the same as requested.
            daily = response.Daily()
            daily_wind_speed_10m_max = daily.Variables(0).ValuesAsNumpy()

            daily_data = {
                "date": start_date.strftime('%Y-%m'),  # Format date to include only year and month
                "wind_speed_10m_max": daily_wind_speed_10m_max,
            }

            daily_dataframe = pd.DataFrame(data=daily_data)
            
            # Append daily data to monthly_data list
            monthly_data.append(daily_dataframe)

        # Move to the next month
        start_date = end_of_month + pd.Timedelta(days=1)

    # Concatenate all daily dataframes into one dataframe
    all_data = pd.concat(monthly_data)

    # Find the maximum wind speed for each month
    monthly_min = all_data.groupby('date')['wind_speed_10m_max'].max()

    return monthly_min

hier werden die Städte eingegeben

In [13]:
Deutschland_Berlin={'lat': 52.5200, 'lon': 13.4050}
Deutschland_Berlin_w = call_open_meteo_min(Deutschland_Berlin)
Deutschland_Berlin_w

date
1940-01    24.967499
1940-02    28.385262
1940-03    43.255466
1940-04    36.688221
1940-05    29.024128
             ...
2023-10    35.785156
2023-11    42.183029
2023-12    39.678471
2024-01    42.218346
2024-02    36.102455
Name: wind_speed_10m_max, Length: 1010, dtype: float32

In [7]:
Frankreich_Paris={'lat': 48.8566, 'lon': 2.3522}
Frankreich_Paris_w = call_open_meteo_min(Frankreich_Paris)
Frankreich_Paris_w

NameError: name 'requests_cache' is not defined

In [ ]:
Italien_Rom={'lat': 41.9028, 'lon': 12.4964}
Italien_Rom_w = call_open_meteo_min(Italien_Rom)
Italien_Rom_w

In [ ]:
Spanien_Madrid={'lat': 40.4168, 'lon': -3.7038}
Spanien_Madrid_w = call_open_meteo_min(Spanien_Madrid)
Spanien_Madrid_w

In [ ]:
Vereinigtes_Koenigreich_London={'lat': 51.5074, 'lon': -0.1278}
Vereinigtes_Koenigreich_London_w = call_open_meteo_min(Vereinigtes_Koenigreich_London)
Vereinigtes_Koenigreich_London

In [31]:
Griechenland_Athen={'lat': 37.9838, 'lon': 23.7275}
Griechenland_Athen_w = call_open_meteo_min(Griechenland_Athen)
Griechenland_Athen

In [ ]:
Oesterreich_Wien={'lat': 48.2082, 'lon': 16.3738}
Oesterreich_Wien_w = call_open_meteo_min(Oesterreich_Wien)
Oesterreich_Wien_w

In [ ]:
Portugal_Lissabon={'lat': 38.7223, 'lon': -9.1393}
Portugal_Lissabon_w = call_open_meteo_min(Portugal_Lissabon)
Portugal_Lissabon_w

In [ ]:
Niederlande_Amsterdam={'lat': 52.3676, 'lon': 4.9041}
Niederlande_Amsterdam_w = call_open_meteo_min(Niederlande_Amsterdam)
Niederlande_Amsterdam_w

In [ ]:
Norwegen_Oslo={'lat': 59.9139, 'lon': 10.7522}
Norwegen_Oslo_w = call_open_meteo_min(Norwegen_Oslo)
Norwegen_Oslo_w

In [6]:
Island_Reykjavik={'lat': 64.1466, 'lon': -21.9426}
Island_Reykjavik_w = call_open_meteo_min(Island_Reykjavik)
Island_Reykjavik_w

         wind_speed_10m_max
date
1940-01           29.108885
1940-02           23.009481
1940-03           23.759182
1940-04           27.143585
1940-05           20.283840
...                     ...
2023-10           23.238674
2023-11           24.289364
2023-12           22.414587
2024-01           26.609282
2024-02           21.949081

[1010 rows x 1 columns]

In [ ]:
Irland_Dublin={'lat': 53.3498, 'lon': -6.2603}
Irland_Dublin_w = call_open_meteo_min(Irland_Dublin)
Irland_Dublin_w

In [ ]:
Schweden_Stockholm={'lat': 59.3293, 'lon': 18.0686}
Schweden_Stockholm_w = call_open_meteo_min(Schweden_Stockholm)
Schweden_Stockholm_w

In [ ]:
Schweiz_Zuerich={'lat': 47.3744, 'lon': 8.5411}
Schweiz_Zuerich_w = call_open_meteo_min(Schweiz_Zuerich)
Schweiz_Zuerich_w

In [ ]:
Dänemark_Kopenhagen={'lat': 55.6761, 'lon': 12.5683}
Dänemark_Kopenhagen_w = call_open_meteo_min(Dänemark_Kopenhagen)
Dänemark_Kopenhagen_w

In [ ]:
Finnland_Helsinki={'lat': 60.1695, 'lon': 24.9354}
Finnland_Helsinki_w = call_open_meteo_min(Finnland_Helsinki)
Finnland_Helsinki_w

In [ ]:
Belgien_Bruessel={'lat': 50.8503, 'lon': 4.3517}
Belgien_Bruessel_w = call_open_meteo_min(Belgien_Bruessel)
Belgien_Bruessel_w

In [ ]:
Polen_Warschau={'lat': 52.2297, 'lon': 21.0122}
Polen_Warschau_w = call_open_meteo_min(Polen_Warschau)
Polen_Warschau_w

In [ ]:
Tschechien_Prag={'lat': 50.0755, 'lon': 14.4378}
Tschechien_Prag_w = call_open_meteo_min(Tschechien_Prag)
Tschechien_Prag_w

In [ ]:
Ungarn_Budapest={'lat': 47.4979, 'lon': 19.0402}
Ungarn_Budapest_w = call_open_meteo_min(Ungarn_Budapest)
Ungarn_Budapest_w

In [ ]:
Kroatien_Zagreb={'lat': 45.8150, 'lon': 15.9819}
Kroatien_Zagreb_w = call_open_meteo_min(Kroatien_Zagreb)
Kroatien_Zagreb_w

In [ ]:
Rumaenien_Bukarest={'lat': 44.4268, 'lon': 26.1025}
Rumaenien_Bukarest_w = call_open_meteo_min(Rumaenien_Bukarest)
Rumaenien_Bukarest_w

In [ ]:
Bulgarien_Sofia={'lat': 42.6977, 'lon': 23.3219}
Bulgarien_Sofia_w = call_open_meteo_min(Bulgarien_Sofia)
Bulgarien_Sofia_w

In [ ]:
Litauen_Vilnius={'lat': 54.6872, 'lon': 25.2797}
Litauen_Vilnius_w = call_open_meteo_min(Litauen_Vilnius)
Litauen_Vilnius_w

In [ ]:
Slowakei_Bratislava={'lat': 48.1486, 'lon': 17.1077}
Slowakei_Bratislava_w = call_open_meteo_min(Slowakei_Bratislava)
Slowakei_Bratislava_w

In [ ]:
Estland_Tallinn={'lat': 59.4370, 'lon': 24.7536}
Estland_Tallinn_w = call_open_meteo_min(Estland_Tallinn)
Estland_Tallinn_w

In [ ]:
Lettland_Riga={'lat': 56.9496, 'lon': 24.1052}
Lettland_Riga_w = call_open_meteo_min(Lettland_Riga)
Lettland_Riga_w

In [ ]:
Slowenien_Ljubljana={'lat': 46.0569, 'lon': 14.5058}
Slowenien_Ljubljana_w = call_open_meteo_min(Slowenien_Ljubljana)
Slowenien_Ljubljana_w

In [ ]:
Montenegro_Podgorica={'lat': 42.4304, 'lon': 19.2594}
Montenegro_Podgorica_w = call_open_meteo_min(Montenegro_Podgorica)
Montenegro_Podgorica_w

In [ ]:
Luxemburg_Luxemburg={'lat': 49.6116, 'lon': 6.1319}
Luxemburg_Luxemburg_w = call_open_meteo_min(Luxemburg_Luxemburg)
Luxemburg_Luxemburg_w

In [ ]:
Malta_Valletta={'lat': 35.8989, 'lon': 14.5146}
Malta_Valletta_w = call_open_meteo_min(Malta_Valletta)
Malta_Valletta_w

In [8]:
Zypern_Nikosia={'lat': 35.1856, 'lon': 33.3823}
Zypern_Nikosia_w = call_open_meteo_min(Zypern_Nikosia)
Zypern_Nikosia_w

         wind_speed_10m_max
date
1940-01           15.095005
1940-02           13.400969
1940-03           14.689674
1940-04           13.471786
1940-05           13.170252
...                     ...
2023-10           11.513481
2023-11           13.482562
2023-12           12.168985
2024-01           14.200948
2024-02           12.339568

[1010 rows x 1 columns]