Hier sind die Importe, welche die API benötigt

In [12]:
import openmeteo_requests

import requests_cache
import pandas as pd

from requests.adapters import HTTPAdapter
from requests.packages.urllib3.util.retry import Retry
from retry_requests import retry
import pickleshare

ModuleNotFoundError: No module named 'retry_requests'

Hier ist die Definition für die API um die Daten zu holen

In [9]:
def call_open_meteo_averages(selected_station):
    # Setup the Open-Meteo API client with cache and retry on error
    cache_session = requests_cache.CachedSession(".cache", expire_after=-1)
    retry_strategy = Retry(total=5, backoff_factor=0.2)
    adapter = HTTPAdapter(max_retries=retry_strategy)
    cache_session.mount('http://', adapter)
    cache_session.mount('https://', adapter)
    openmeteo = openmeteo_requests.Client(session=cache_session)

    # Initialize an empty list to store daily data
    daily_data = []

    # Define the start and end dates for the loop
    start_date = pd.Timestamp("1999-12-01")
    end_date = pd.Timestamp("1999-12-31")

    # Iterate through each day of December
    while start_date <= end_date:
        # Define the parameters for the API call
        params = {
            "latitude": selected_station["lat"],
            "longitude": selected_station["lon"],
            "start_date": start_date.strftime("%Y-%m-%d"),
            "end_date": start_date.strftime("%Y-%m-%d"),  # Use the same start and end date for daily data
            "daily": "wind_speed_10m_max",
            "timezone": "Europe/Berlin",
        }

        # Make the API call
        responses = openmeteo.weather_api("https://archive-api.open-meteo.com/v1/archive", params=params)

        for response in responses:
            # Process daily data. The order of variables needs to be the same as requested.
            daily = response.Daily()
            daily_wind_speed_10m_max = daily.Variables(0).ValuesAsNumpy()

            daily_data.append({
                "date": start_date.strftime('%Y-%m-%d'),  # Format date to include year, month, and day
                "wind_speed_10m_max": daily_wind_speed_10m_max,
            })

        # Move to the next day
        start_date += pd.Timedelta(days=1)

    # Create a DataFrame from daily data
    daily_dataframe = pd.DataFrame(daily_data)

    # Calculate daily averages
    daily_averages = daily_dataframe.groupby('date').mean()

    return daily_averages

hier werden die Städte eingegeben

In [11]:
Deutschland_Berlin={'lat': 52.5200, 'lon': 13.4050}
Deutschland_Berlin_wmean = call_open_meteo_averages(Deutschland_Berlin)
Deutschland_Berlin_wmean

              wind_speed_10m_max
date
1999-12-01  [31.624725341796875]
1999-12-02   [32.49186706542969]
1999-12-03   [38.67277908325195]
1999-12-04  [39.477081298828125]
1999-12-05  [24.944129943847656]
1999-12-06  [30.599998474121094]
1999-12-07  [28.772987365722656]
1999-12-08  [30.821548461914062]
1999-12-09  [21.749483108520508]
1999-12-10  [23.617755889892578]
1999-12-11  [27.238941192626953]
1999-12-12    [33.5631217956543]
1999-12-13  [28.714370727539062]
1999-12-14  [23.784530639648438]
1999-12-15  [22.705699920654297]
1999-12-16   [16.39482879638672]
1999-12-17   [34.20000076293945]
1999-12-18  [28.227304458618164]
1999-12-19  [18.363529205322266]
1999-12-20  [13.319999694824219]
1999-12-21   [11.04326057434082]
1999-12-22  [18.204042434692383]
1999-12-23  [21.626983642578125]
1999-12-24   [22.96393585205078]
1999-12-25   [32.24161148071289]
1999-12-26   [22.72566795349121]
1999-12-27   [16.93531036376953]
1999-12-28  [10.383987426757812]
1999-12-29  [13.551501274108887]
1999-12-30  [17.873554229736328]
1999-12-31  [15.827720642089844]

In [112]:
Frankreich_Paris={'lat': 48.8566, 'lon': 2.3522}
Frankreich_Paris_w = call_open_meteo_averages(Frankreich_Paris)
Frankreich_Paris_w

         wind_speed_10m_max
date
1940-01           18.234991
1940-02           18.234991
1940-03           18.234991
1940-04           18.234991
1940-05           18.234991
...                     ...
2023-10           18.234991
2023-11           18.234991
2023-12           18.234991
2024-01           18.234991
2024-02           18.234991

[1010 rows x 1 columns]

In [ ]:
Italien_Rom={'lat': 41.9028, 'lon': 12.4964}
Italien_Rom_w = call_open_meteo_averages(Italien_Rom)
Italien_Rom_w

In [ ]:
Spanien_Madrid={'lat': 40.4168, 'lon': -3.7038}
Spanien_Madrid_w = call_open_meteo_averages(Spanien_Madrid)
Spanien_Madrid_w

In [ ]:
Vereinigtes_Koenigreich_London={'lat': 51.5074, 'lon': -0.1278}
Vereinigtes_Koenigreich_London_w = call_open_meteo_averages(Vereinigtes_Koenigreich_London)
Vereinigtes_Koenigreich_London

In [31]:
Griechenland_Athen={'lat': 37.9838, 'lon': 23.7275}
Griechenland_Athen_w = call_open_meteo_averages(Griechenland_Athen)
Griechenland_Athen

In [ ]:
Oesterreich_Wien={'lat': 48.2082, 'lon': 16.3738}
Oesterreich_Wien_w = call_open_meteo_averages(Oesterreich_Wien)
Oesterreich_Wien_w

In [ ]:
Portugal_Lissabon={'lat': 38.7223, 'lon': -9.1393}
Portugal_Lissabon_w = call_open_meteo_averages(Portugal_Lissabon)
Portugal_Lissabon_w

In [ ]:
Niederlande_Amsterdam={'lat': 52.3676, 'lon': 4.9041}
Niederlande_Amsterdam_w = call_open_meteo_averages(Niederlande_Amsterdam)
Niederlande_Amsterdam_w

In [ ]:
Norwegen_Oslo={'lat': 59.9139, 'lon': 10.7522}
Norwegen_Oslo_w = call_open_meteo_averages(Norwegen_Oslo)
Norwegen_Oslo_w

In [6]:
Island_Reykjavik={'lat': 64.1466, 'lon': -21.9426}
Island_Reykjavik_w = call_open_meteo_averages(Island_Reykjavik)
Island_Reykjavik_w

         wind_speed_10m_max
date
1940-01           29.108885
1940-02           23.009481
1940-03           23.759182
1940-04           27.143585
1940-05           20.283840
...                     ...
2023-10           23.238674
2023-11           24.289364
2023-12           22.414587
2024-01           26.609282
2024-02           21.949081

[1010 rows x 1 columns]

In [ ]:
Irland_Dublin={'lat': 53.3498, 'lon': -6.2603}
Irland_Dublin_w = call_open_meteo_averages(Irland_Dublin)
Irland_Dublin_w

In [ ]:
Schweden_Stockholm={'lat': 59.3293, 'lon': 18.0686}
Schweden_Stockholm_w = call_open_meteo_averages(Schweden_Stockholm)
Schweden_Stockholm_w

In [ ]:
Schweiz_Zuerich={'lat': 47.3744, 'lon': 8.5411}
Schweiz_Zuerich_w = call_open_meteo_averages(Schweiz_Zuerich)
Schweiz_Zuerich_w

In [ ]:
Dänemark_Kopenhagen={'lat': 55.6761, 'lon': 12.5683}
Dänemark_Kopenhagen_w = call_open_meteo_averages(Dänemark_Kopenhagen)
Dänemark_Kopenhagen_w

In [ ]:
Finnland_Helsinki={'lat': 60.1695, 'lon': 24.9354}
Finnland_Helsinki_w = call_open_meteo_averages(Finnland_Helsinki)
Finnland_Helsinki_w

In [ ]:
Belgien_Bruessel={'lat': 50.8503, 'lon': 4.3517}
Belgien_Bruessel_w = call_open_meteo_averages(Belgien_Bruessel)
Belgien_Bruessel_w

In [ ]:
Polen_Warschau={'lat': 52.2297, 'lon': 21.0122}
Polen_Warschau_w = call_open_meteo_averages(Polen_Warschau)
Polen_Warschau_w

In [ ]:
Tschechien_Prag={'lat': 50.0755, 'lon': 14.4378}
Tschechien_Prag_w = call_open_meteo_averages(Tschechien_Prag)
Tschechien_Prag_w

In [ ]:
Ungarn_Budapest={'lat': 47.4979, 'lon': 19.0402}
Ungarn_Budapest_w = call_open_meteo_averages(Ungarn_Budapest)
Ungarn_Budapest_w

In [ ]:
Kroatien_Zagreb={'lat': 45.8150, 'lon': 15.9819}
Kroatien_Zagreb_w = call_open_meteo_averages(Kroatien_Zagreb)
Kroatien_Zagreb_w

In [ ]:
Rumaenien_Bukarest={'lat': 44.4268, 'lon': 26.1025}
Rumaenien_Bukarest_w = call_open_meteo_averages(Rumaenien_Bukarest)
Rumaenien_Bukarest_w

In [ ]:
Bulgarien_Sofia={'lat': 42.6977, 'lon': 23.3219}
Bulgarien_Sofia_w = call_open_meteo_averages(Bulgarien_Sofia)
Bulgarien_Sofia_w

In [ ]:
Litauen_Vilnius={'lat': 54.6872, 'lon': 25.2797}
Litauen_Vilnius_w = call_open_meteo_averages(Litauen_Vilnius)
Litauen_Vilnius_w

In [ ]:
Slowakei_Bratislava={'lat': 48.1486, 'lon': 17.1077}
Slowakei_Bratislava_w = call_open_meteo_averages(Slowakei_Bratislava)
Slowakei_Bratislava_w

In [ ]:
Estland_Tallinn={'lat': 59.4370, 'lon': 24.7536}
Estland_Tallinn_w = call_open_meteo_averages(Estland_Tallinn)
Estland_Tallinn_w

In [ ]:
Lettland_Riga={'lat': 56.9496, 'lon': 24.1052}
Lettland_Riga_w = call_open_meteo_averages(Lettland_Riga)
Lettland_Riga_w

In [ ]:
Slowenien_Ljubljana={'lat': 46.0569, 'lon': 14.5058}
Slowenien_Ljubljana_w = call_open_meteo_averages(Slowenien_Ljubljana)
Slowenien_Ljubljana_w

In [ ]:
Montenegro_Podgorica={'lat': 42.4304, 'lon': 19.2594}
Montenegro_Podgorica_w = call_open_meteo_averages(Montenegro_Podgorica)
Montenegro_Podgorica_w

In [ ]:
Luxemburg_Luxemburg={'lat': 49.6116, 'lon': 6.1319}
Luxemburg_Luxemburg_w = call_open_meteo_averages(Luxemburg_Luxemburg)
Luxemburg_Luxemburg_w

In [ ]:
Malta_Valletta={'lat': 35.8989, 'lon': 14.5146}
Malta_Valletta_w = call_open_meteo_averages(Malta_Valletta)
Malta_Valletta_w

In [8]:
Zypern_Nikosia={'lat': 35.1856, 'lon': 33.3823}
Zypern_Nikosia_w = call_open_meteo_averages(Zypern_Nikosia)
Zypern_Nikosia_w

         wind_speed_10m_max
date
1940-01           15.095005
1940-02           13.400969
1940-03           14.689674
1940-04           13.471786
1940-05           13.170252
...                     ...
2023-10           11.513481
2023-11           13.482562
2023-12           12.168985
2024-01           14.200948
2024-02           12.339568

[1010 rows x 1 columns]